 body {
  /* background-color: lightskyblue; */
  height: 100vh;
  width: 100wh;
  background-color: white;
  background-repeat: no-repeat;
  
}

 .header-family {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 0;
  margin: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d1e5f1;
  animation: slideDown 1s ease-in-out forwards;
 }

 @keyframes slideDown {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}


 .header-title {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: bold;
  color: #3179a7;
  /* background-color: red; */
  display: flex;
  width: 400px;
  justify-content: center;
  cursor: pointer;
 }

 .begin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  animation: slideDownbegin 1s ease-in-out forwards; 
 }

 @keyframes slideDownbegin {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
 }

 .begin-text {
  color: #3179a7;
  font-size: 40px;
  font-family: "Lobster Two";
  font-weight: bold;
 }

 .backup-text {
  color: #7a7a7a;
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 500;
  margin: 0;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 5px;
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: white;
  border-right-color: white;
  border-left-width: 1px;
  border-right-width: 1px;


 }

 .teams-employers-family {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 70px;
 }

 .teams,
 .employers {
  display: grid;
  grid-template-columns: 380px;
  place-items: center;
  background-color: white;
  border-style: solid;
  border-color: rgb(219, 216, 216);
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px -1px 7px 1px #d6d4d4;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.3s ;
 }

 .teams:hover,
 .employers:hover {
  transform: translateY(-4%);
 }

 
 .teams {
  margin-left: 270px;
  margin-right: 0;
 }

 .employers {
  margin-right: 90px;
  margin-left: 40px;
 }

 .bi-briefcase,
 .bi-search {
  color: #3d3d9c;
  margin-top: 15px;
 }
 

 .teams-text,
 .employers-text {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-left: 20px;
  font-size: 13.5px;
  font-family: "Noto Sans";
  font-weight: bold;
  color: #464343;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #c2bfbf;
 }

 .teams-text::after,
 .employers-text::after {
   content: ">";
   color: #3d3d9c;
   cursor: pointer;
 }

 .bi-chevron-right {
  padding: 0;
  margin-top: 3x;
  color: #3d3d9c;
 }

 .end {
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-left: 45px;
  margin-right: 20px;
  animation: slideinEnd 2s ease-in-out forwards;
 }

 @keyframes slideinEnd {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

 .atr1 {
  border-right-style: solid;
  border-right-color: #a5a3a3;
  border-right-width: 1px;
  padding-left: 50px;
  padding-right: 120px;
 }
 .atr2 {
  border-right-style: solid;
  border-right-color: #a5a3a3;
  border-right-width: 1px;
  padding-left: 60px;
  padding-right: 60px;
 }

 .atr3 {
  padding-left: 60px;
  padding-right: 30px;
 }

 .atr1-text,
 .atr2-text,
 .atr3-text {
  color: rgb(109, 108, 108);
  font-family: "Noto Sans";
  font-size: 12px;
 }

 .bi-globe-central-south-asia {
  color: #3d3d9c;
 }
















































 

/*.teamfamily-one {
  /* background-color: yellow; 
  display: inline-block;
  margin-top: 60px;
  padding-left: 30px;
  transform: translateX(-100%);
  border: solid 1px white;
  border-radius: 10px;
  animation: slideIn 2s ease-in-out forwards;
  /* box-shadow: 1px 2px 4px 1px #ffffff */
  /* background-color: white; 
}

.teamfamily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.team-header {
  /* background-color: red; 
  display: inline-block;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 50px;
  padding-left: 10px;
  font-family: arial;
  font-size: 50px;
  font-weight: bold;
  color: white;
}



.employers-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-end;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 50px;
  padding-left: 10px;
  font-family: arial;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.employersfamily {
  display: inline-block;
  transform: translateX(100%);
  animation: slideout 2s ease-in-out forwards;
  border: solid 1px white;
  border-radius: 10px;
}

@keyframes slideout {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.team-employers-family {
  display: flex;
  margin-left: 30px;
  align-items: center;
}





<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
  <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/>
</svg>--briefcase

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg>

*/

